*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: crimson;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.content {
  color: black;
  text-align: center;
  letter-spacing: .1em;
}

h1 {
  font-size: 3.5em;
  text-decoration: bold;
  font-weight: 1000;
  padding: 10px 50px;
  cursor: default;
  padding-bottom: 30px;
}

h2:hover {
  cursor: default;
}



#input {
  margin-top: 10px;
  width: 70%;
  height: 30px;
  text-align: center;
  background-color: crimson;
  border: 2px solid black;
  cursor: help;
  color: black;
  box-shadow: rgba(0, 0, 0, 1);
}

button {
  overflow: hidden;
  width: 30vw;
  height: 50px;
  margin-top: 5vh;
  border-radius: 40px;
  background-color: crimson;
  border: 2px solid black;
  color: black;
  font-weight: 1000;
  text-decoration: bold;
  padding: 10px 30px;
}

button:hover {
  border: 2px solid crimson;
  color: pink;
  background-color: black;
}

button:active {
  border: 2px solid hotpink;
  color: hotpink;
  background-color: black;
}

span {
  display: block;
  overflow: hidden;
  padding-right:10px;
}

#input:hover {
  border: 2px solid pink;
}

#input:focus {
  outline: none;
  border: 2px solid hotpink;
}

#text {
  color: black;
}